In [1]:
# Importing Library
import pandas as pd

# Creating path
path = r"C:\Users\henry\OneDrive\Achievement 6\flavors_of_cacao.csv"

# importing dataset
df = pd.read_csv(path)

In [2]:
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [3]:

# Standardize Column Names
# Replace newline characters and extra spaces for consistency
df.columns = [col.replace('\n', ' ').strip() for col in df.columns]

df.rename(columns={
    'Company  (Maker-if known)': 'Company',
    'Specific Bean Origin or Bar Name': 'BarName',
    'Review Date': 'ReviewDate',
    'Cocoa Percent': 'CocoaPercent',
    'Company Location': 'Location',
    'Bean Type': 'BeanType',
    'Broad Bean Origin': 'BroadOrigin'
}, inplace=True)

In [4]:
df.columns

Index(['Company  (Maker-if known)', 'BarName', 'REF', 'ReviewDate',
       'CocoaPercent', 'Location', 'Rating', 'BeanType', 'BroadOrigin'],
      dtype='object')

In [5]:
#  Convert CocoaPercent to Numeric
# change the '%' symbol and convert to float
df['CocoaPercent'] = df['CocoaPercent'].str.rstrip('%').astype(float)
df['CocoaPercent'].describe()

count    1795.000000
mean       71.698329
std         6.323118
min        42.000000
25%        70.000000
50%        70.000000
75%        75.000000
max       100.000000
Name: CocoaPercent, dtype: float64

In [6]:
# Missing Values
# Fill blank or NaN BeanType entries with 'Unknown'
df['BeanType'] = df['BeanType'].fillna('').replace('', 'Unknown')
# Count any missing BroadOrigin entries
print("Missing BroadOrigin:", df['BroadOrigin'].isna().sum())

Missing BroadOrigin: 1

In [7]:
# Check for Duplicates
print("Exact duplicate rows:", df.duplicated().sum())

Exact duplicate rows: 0

In [8]:
# Review counts per REF (bars reviewed multiple times)
print("Top 5 REF review counts:\n", df['REF'].value_counts().head())

Top 5 REF review counts:
 REF
414    10
404     9
24      9
387     9
32      8
Name: count, dtype: int64

In [9]:
# Basic Descriptive Statistics
print("\nContinuous variable summary:")
print(df[['Rating', 'CocoaPercent', 'ReviewDate']].describe())

Continuous variable summary:
            Rating  CocoaPercent   ReviewDate
count  1795.000000   1795.000000  1795.000000
mean      3.185933     71.698329  2012.325348
std       0.478062      6.323118     2.927210
min       1.000000     42.000000  2006.000000
25%       2.875000     70.000000  2010.000000
50%       3.250000     70.000000  2013.000000
75%       3.500000     75.000000  2015.000000
max       5.000000    100.000000  2017.000000

In [10]:
# Defining output path
cleaned_data = r"C:\Users\henry\OneDrive\Achievement 6\flavors_of_cacao_cleaned.csv"

# Writing out the cleaned DataFrame
df.to_csv(cleaned_data, index=False)

print(f"Cleaned data saved to: {cleaned_data}")

Cleaned data saved to: C:\Users\henry\OneDrive\Achievement 6\flavors_of_cacao_cleaned.csv